<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>linux-node</name>
  <description>Ubuntu 18.04.2 LTS</description>
  <remoteFS>/home/denis</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
  </launcher>
  <label>linux, ubuntu</label>
  <nodeProperties>
    <hudson.tools.ToolLocationNodeProperty>
      <locations>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.plugins.git.GitTool$DescriptorImpl</type>
          <name>2.21.0</name>
          <home>/usr/lib/git-core/git</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.tasks.Maven$MavenInstallation$DescriptorImpl</type>
          <name>3.6.1</name>
          <home>/usr/share/maven</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.model.JDK$DescriptorImpl</type>
          <name>1.8.0_212</name>
          <home>/usr/lib/jvm/jdk1.8.0_221</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
      </locations>
    </hudson.tools.ToolLocationNodeProperty>
  </nodeProperties>
</slave>